/* adjustments for Franklin */

.franklin-content code {
  font-size: var(--small);
}

.franklin-content { font-size: 1.4rem; }

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 20px; /* Agrega espacio interno para no tocar los bordes */
  margin: 20px auto; /* Margen automático para centrar y un poco de espacio exterior */
  max-width: 800px; /* Limita el ancho para una lectura más cómoda */
  background-color: #f8f8f8; /* Color de fondo suave */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  color: #333; /* Color de texto oscuro pero no puro negro para menos contraste duro */
  line-height: 1.6; /* Espacio vertical entre líneas para mejorar la legibilidad */
  hyphens: auto; /* Mejora la división de palabras en justificación */
}


/* Opcional: Puedes agregar transiciones para suavizar el cambio de estados si hay interacción */
#main:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}



#menu ul {
  list-style-type: none; /* Elimina los marcadores de lista */
  text-align: center; /* Mantiene el texto centrado */
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* Un color de fondo suave */
  padding: 10px 0; /* Añade algo de relleno vertical */
  border-radius: 8px; /* Bordes redondeados para un look moderno */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar profundidad */
  display: flex; /* Usa Flexbox para alinear los elementos */
  justify-content: center; /* Centra los elementos en la línea */
  flex-wrap: wrap; /* Permite que los elementos de la lista se ajusten en varias líneas si es necesario */
}

#menu ul li {
  display: inline-block; /* Alinea los elementos de la lista horizontalmente */
  margin: 0 20px; /* Espaciado horizontal entre elementos de la lista */
  padding: 8px 16px; /* Relleno para hacer cada elemento más "clickeable" */
  border-radius: 4px; /* Bordes redondeados para los elementos individuales */
  transition: background-color 0.3s; /* Suave transición para interacciones del mouse */
}

#menu ul li:hover {
  background-color: #e2e2e2; /* Cambio de color al pasar el mouse */
}

#menu ul li a {
  text-decoration: none; /* Elimina el subrayado de los enlaces */
  color: #333; /* Color de texto oscuro para mayor legibilidad */
  font-weight: bold; /* Hace que el texto sea más prominente */
}


#menu ul li {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
}

#menu ul li a {
  color: #111;
  text-decoration: none;
  position: relative;
  padding: 10px 10px;
}

#menu ul li a::after {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 7px;
  left: 10px;
  right: 10px;
  background-color: rgba(18, 68, 143, 0.7);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#menu ul li a:hover {
  text-decoration: none;
}

#menu ul li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.franklin-content { padding-left: 10%; }
.franklin-content { padding-right: 5%; }

@media (max-width: 940px) {
  /* narrow display: menu is at the top */
  #menu {
    width: 100%;
    margin-top: 75px;
    margin-bottom: 25px;
  }

  #menu li {
    display: inline-block;
    line-height: 30px;
  }

  #main {
    float: none;
    width: 100%;
  }
}

@media (min-width: 940px) {
  #menu {
    margin-top: 100px;
    float: left;
    width: 100px;
    text-align: right;
  }
  .franklin-content { width: 600px; }
}

@media (min-width: 1000px) {
  .franklin-content { width: 660px; }
}






.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}

