<!doctype html>
<html lang="en">
<head>
  <meta name="google-site-verification" content="jIpDwi7ymEguRcTyYA__HcHOZrQCE43cIHZmDTk5434" />
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{if hasmath}} {{insert head_katex.html }}     {{end}}
    {{if hascode}} {{insert head_highlight.html }}   {{end}}
    <script src="https://kit.fontawesome.com/1966c00f87.js" crossorigin="anonymous"></script>
    {{insert style.html}}
    {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
{{insert nav.html}}

<link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

<link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap" rel="stylesheet">


<!-- Content appended here -->
