name: Build and Deploy
on:
  push:
    branches:
      - main
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        persist-credentials: false
    - name: Install python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install Julia
      uses: julia-actions/setup-julia@v2
      with:
        version: '1.10'
    - name: Setup Julia registry
      run: |
        julia -e '
          using Pkg
          Pkg.Registry.add(RegistrySpec(url="https://github.com/JuliaRegistries/General.git"))
        '
      env:
        JULIA_PKG_SERVER: ""
    - name: Build site
      run: julia -e '
            using Pkg;
            Pkg.activate(".");
            Pkg.instantiate();
            using NodeJS; run(`$(npm_cmd()) install highlight.js`);
            using Franklin;
            optimize()'
      env:
        JULIA_PKG_SERVER: ""
    - name: Build and Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: gh-pages
        folder: __site
